<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OrtsnamenApiUri" value="https://search.ortsnamen.ch/" />
		<add key="PlzFilePath" value="plz_verzeichnis_v2.json" />
		<add key="AltPlzFilePath" value="alternative-ortsbezeichnungen-und-gebietsbezeichnungen_v2.json" />
		<add key="Datasource" value="localhost" />
		<add key="Port" value="3306" />
		<add key="Username" value="root" />
		<add key="Password" value="root" />
		<add key="Database" value="query_expansion" />
		<add key="Version" value="1.0" />
	</appSettings>
</configuration>